@font-face {
  font-family: "Font-Bold";
  src: url("./assets/Font/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "Font-Regular";
  src: url("./assets/Font/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Font-Demi";
  src: url("./assets/Font/AvenirNextLTPro-Demi.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Font-Regular";
}

html {
  font-size: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.upload-btn {
  border: none;
  background-color: #0095FF;
  width: 160px;
  display: flex;
  color: white;
  border-radius: 4px;
  padding: 10px 10px;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.upload-btn p {
  visibility: hidden;
}

.search-bar {
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 10px 10px;
  display: flex;
  width: 100%;
  border: 1px solid #E1E1E1;
  gap: 5px;
}
.search-bar input {
  background-color: transparent;
  border: none;
  width: 100%;
}
.search-bar input:focus-visible {
  border: none;
  outline: none;
}

.search-div {
  flex: 1 1 70%;
  padding: 0 20px;
}

.left-sec-header {
  display: flex;
  gap: 25px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  max-width: 1024px;
  margin: auto;
}

.video-bg {
  display: flex;
  justify-content: center;
  background-color: black;
}
.video-bg video {
  width: 100%;
  max-width: 850px;
}

.mainSection {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 35px 30px;
  display: flex;
}
.mainSection .video-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px solid #E1E1E1;
}
.mainSection .next-videos {
  width: 30%;
}

h1 {
  font-family: "Font-Bold";
  color: #323232;
}

.text-lower {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.text-lower span {
  color: #AFAFAF;
  font-size: 14px;
  font-family: "Font-Regular";
}

.author-text {
  display: flex;
  gap: 30px;
}
.author-text h5 {
  font-family: "Font-Bold";
}

.rating-text {
  display: flex;
  gap: 30px;
}
.rating-text span {
  padding-left: 10px;
}
.rating-text div {
  display: flex;
}

.main-videos-desc {
  width: 70%;
  padding: 0 30px 0 0;
}
.main-videos-desc p {
  padding: 30px 0px;
  color: #1B1B1B;
  font-size: 15px;
  line-height: 1.5;
}
.main-videos-desc h5 {
  font-family: "Font-Bold";
  color: #323232;
}
.main-videos-desc .upload-btn {
  height: 35px;
  margin-top: 10px;
}
.main-videos-desc .upload-btn h5 {
  color: white;
  font-family: "Font-Regular";
}

.comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
.comments h5 {
  color: #AFAFAF;
  font-family: "Font-Regular";
  font-size: 12px;
}
.comments .search-bar {
  width: 100%;
}

.comment-image {
  background-color: #E1E1E1;
  outline: none;
  border: none;
}

.comment {
  border-top: 1px solid #E1E1E1;
  padding: 20px 10px;
  gap: 20px;
  display: flex;
}
.comment p {
  padding: 10px 0px;
}

.comment-h {
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 100%;
  border: none;
  background: transparent;
}
textarea:focus-visible {
  border: none;
  outline: none;
}

.next-videos {
  border-left: 1px solid #e1e1e1;
  width: 34%;
  padding: 0 25px;
}
.next-videos h5 {
  color: #AFAFAF;
  font-weight: 400;
  text-transform: uppercase;
}

.next-video {
  display: flex;
  gap: 15px;
  padding: 20px 0;
  cursor: pointer;
}
.next-video img {
  width: 100px;
  height: 65px;
  border-radius: 5px;
}

.next-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea{
  resize: none;
}

.upload-main{
  display: flex;
  width:100%;
  gap:30px;
  border-bottom: 2px solid #e1e1e1;  
  border-top: 2px solid #e1e1e1;  
  padding: 30px 0 35px;
  margin: 25px 0;
}

.upload-main .search-div{
  flex:none;
  padding: 0;
}
.upload-main .search-div h5{
  padding-bottom: 4px;
  color: #AFAFAF;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .7px;
}
.upload-main .search-div img{
  width: 100%;
  max-width: 320px;
  height: 100%;
  max-height: 178px;
}
.upload-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}
.upload-buttons{
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: end;
}
.cancel-btn{
  color: #0095FF;
  letter-spacing: .6px;
  font-weight: 700;
  text-transform: uppercase;  
  cursor: pointer;

}




@media (max-width: 768px) {
  .upload-main {
    flex-direction: column;
  }
  .upload-data{
      gap: 20px;
  }
  .upload-main .search-div .search-bar{
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }
  .left-sec-header {
    flex-direction: column;
    width: 100%;
  }
  .upload-btn {
    width: 100%;
  }
  .comment-btn {
    width: 160px;
  }
  .search-bar {
    width: 86%;
  }
  .avatar {
    position: absolute;
    right: 30px;
  }
  .mainSection {
    flex-direction: column;
  }
  .main-videos-desc {
    width: 100% !important;
  }
  .next-videos {
    width: 100% !important;
    border-top: 1px solid #e1e1e1;
    border-left: none;
    padding-top: 20px;
  }
  .comment-avatar {
    position: inherit;
  }
  .comment-image {
    position: inherit;
  }
  .upload-buttons{
    flex-direction: column-reverse;
    gap: 35px;
  }
}
@media (max-width: 565px) {
  .upload-main{
    margin: 0;
    gap: 15px;
  }
  .upload-main img{
    max-width: none !important;
    max-height: none !important;
    height: auto !important;
  }
  .upload-main textarea{
    height: auto;
  }
  .search-bar {
    width: 86%;
  }
  .upload-main {
    border: none;
  }
  .author-text {
    flex-direction: column;
    gap: 10px;
  }
  .rating-text {
    flex-direction: column;
    gap: 10px;
  }
  .text-lower {
    border-top: 2px solid #E1E1E1;
    padding-top: 15px;
  }
  .comments {
    flex-wrap: wrap;
  }
  .comment-btn {
    margin-left: 75px;
    width: 100%;
    margin-right: 20px;
    margin-right: 0px;
  }
  textarea {
    height: 100px;
  }
  .search-div {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 425px) {
  .search-bar {
    width: 82%;
  }
}/*# sourceMappingURL=App.css.map */